.formWrapper {
    margin-bottom: 30px;
}

.formWrapper form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.textInput {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 25px;
}

.tagsInput {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 25px;
}

.textInput input {
    width: 45%;
    height: 30px;
    font-size: 1.3rem;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}