.addBtn {
    width: 50px;
    height: 50px;
    font-size: 42px;
    border-radius: 25px;
    cursor: pointer;
    background-color: beige;
    border: none;
}

.addBtn:hover {
    background-color: rgb(240, 240, 155);
}

.tagInput {
    width: 30%;
    height: 30px;
    font-size: 20px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: cadetblue;
}